.container {
  background-color: white;
  width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-size: 4rem;
  padding: 2rem 1rem;
  text-align: center;
}
