.container {
  background-color: white;
  width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 3rem;
    padding: 2rem 1rem;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
