:root {
  --diamond-blue: #186faf;
  --darker-diamond-blue: #205276;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light !important;
  font-size: 62.5%;
  font-family: sans-serif;

  @media screen and (max-width: 1024px) {
    font-size: 56.25%;
  }

  @media screen and (max-width: 768px) {
    font-size: 50%;
  }
}

html,
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: aquamarine;
  min-height: 100vh;
}

body {
  font-size: 2rem;
  line-height: 2rem;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--diamond-blue);
  }

  &:active {
    color: var(--darker-diamond-blue);
  }
}

ul {
  list-style: none;
}
