.container {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5000;
  .content {
    max-width: 100rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .logo {
      display: flex;

      height: 5rem;
      img {
        height: 100%;
        @media screen and (max-width: 365px) {
          display: none;
        }
      }

      .title {
        padding: 0.5rem 1.5rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 2.2rem;
        letter-spacing: 1px;
        text-align: left;
        color: #186faf;
        max-width: 17rem;

        @media screen and (max-width: 425px) {
          padding: 0.5rem;
        }
      }
    }
    .connect {
      height: 5rem;
      font-size: 1.2rem;
    }
  }
}
